@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* reset padre de todos allfather*/
*{
    font-family:'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* selectores de etiquetas */


html {
    font-size: 62.5%;
}

body{
    background-image: url(../img/backgrounds/back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

p{
    color: gray;
    line-height: 2rem;
    font-size: 1.6rem;
}

/* ---------------MOBILE FIRST-------------- */
/* armas el grid layout 1 col y rows auto */

.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
}

#mainNav{
    grid-area: nav;
}

#header{
    grid-area: header;
}

#main{
    grid-area: main;
}

#aside{
    background-color: rgba(238, 188, 247, .5);
    padding: 20px 0;
    grid-area: aside;
    /* iconos de carritos y esas cosas que vos no usaste ...yet*/
    display: flex;
    flex-direction: column;
}

#footer{
    grid-area: footer;
}

/* inicia botonera */

.botonera{
        /* background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        padding: 10px 30px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 70px auto;
        padding: 30px 50px;
        overflow: auto;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
}

    .botonera img{
        width: 200px;
        margin-bottom: 30px;
    }

    .botonera ul{
        display: flex;
    }

    .botonera ul li{
        list-style: none;
        margin-right: 20px;
    }

        .botonera ul li a{
            font-size: 1.8rem;
            text-decoration: none;
            color: deeppink;
        }

        .botonera ol li a:hover{
            font-weight: 600;
        }

/* TERMINA MOBILE FIRST */






/* nav{
    background-color: black;
    position: sticky;
    top: 0;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul{
    list-style: none;
    display: flex;


} */

/* nav ul li{
    list-style: none;
    margin-right: 20px;
}

nav ul li a {
    color: deeppink;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    text-align: center;
}
*/
nav ul li a:hover{
    font-weight: 600;
} 

header{
    background-color: rgba(0, 0, 0, 0.9);

}

main{
    background-color: rgba(0, 0, 0, 0.9);
}

footer{
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
}

main section p {
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.imgHeader{
    width: auto;
    height: auto;
    object-fit: cover;
}

.img{
    width: 500px;
    height: 500px;
}

.imgTienda{
    width: 200px;
    height: 200px;
}

/* selector de grupo */

h1,h2,h3{
    color: deeppink;
    font-family: 'Roboto', sans-serif;
}

/* selectores de CLASES , puedo ir sumando clases al costado center italic bla ...*/

.text-red{
    color: red;
}

.font-italic{
    font-style: italic;
}

.text-center{
    text-align: center;
}

.text-right{

    text-align: right;
}

.bg-gray{
    background-color: gray;
}


/* selector de ID  dni del elemento, solo para cada elemento*/

/* #contacto{}
/* propiedades */


/* BOX MODEL width-height-margin-padding-border-overflow */

.discografia {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;

}

.header{
    width: 100%;
    height: auto;
    margin: 70px auto;
    padding: 30px 50px;
    overflow: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
}

.novedades{
    width: 100%;
    height: auto;
    margin: 70px auto;
    padding: 30px 50px;
    overflow: auto;
}

.nosotros{
    width: 100%;
    height: auto;
    margin: 70px auto;
    padding: 30px 50px;
    overflow: auto;
}

.pie{
    width: 100%;
    height: auto;
    margin: 70px auto;
    padding: 30px 50px;
    overflow: auto;
    text-align: center;
    padding: 6px 0;
}

.logoMain{
    width: 200px;
    height: 200px;
}

#main h1,
#main h2 {
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}

.galeria{
    width: 100%;
    height: auto;
    margin: 70px auto;
    padding: 30px 50px;
    overflow: auto;
    text-align: center;
}

/* #main .galeria{
margin: 20px;
display: flex;
justify-content: space-around;
} */

    #main .galeria figure{
    text-align: center;
    }

        #main .galeria figure img{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        }

        #main .galeria figure figcaption{
        font-size: 2.5rem;
        color: deeppink;
        padding: 10px 0;
        background-color: rgba(0, 0, 0, 0.9);
        }

        #main .galeria p.price{
            color: gray;
            padding-bottom: 10px;
            background-color: rgba(0, 0, 0, 0.9);
        }


/* GRIDS 1 Y 2 */

.mainGaleria{
    background-color: rgba(0, 0, 0, 0.9);
}

.gridGaleria{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: stretch;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.9);
}

.foto{
    border: 4px solid rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.9);
}

/* --------MEDIA QUERIES INDEX ----------- */

@media (min-width: 768px) {
    .contenedor{
        grid-template-columns: 30vw 70vw;
        grid-template-areas: 
        "nav nav"
        "header header"
        "main main"
        "footer footer";
    }

    #main .galeria{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    #main .galeria figure{
        width: 90%;
    }
    .botonera ul li a{
        font-size: 1.8rem;
        text-decoration: none;
        color: deeppink;
    }

}

@media (min-width: 1024px) {
    .contenedor{
        grid-template-columns: 30vw 60vw 10; 
        grid-template-areas: 
        "nav nav nav"
        "header header header"
        "main main main"
        "footer footer footer";
    }

    #main .galeria{
        display: flex;
        flex-direction: row;
        
    }
    #main .galeria figure{
        width: 80%;
    }

    .botonera{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

        .botonera img{
            margin-bottom: 0;
        }
        .botonera ul li a{
            font-size: 2rem;
            text-decoration: none;
            color: deeppink;
        }
}

@media (min-width: 1200px){
    #main .galeria{
        flex-direction: row;
        justify-content: space-around;
    }

        #main .galeria figure{
            width: 30%;
        }
        .botonera ul li a{
            font-size: 3rem;
            text-decoration: none;
            color: deeppink;
        }
}

/* --------------ANIMACIONES----------- */

/* .linear-gradient{
    background: linear-gradient(to top,red rgb(136, 12, 148));
}

.transform:hover{
    transform: translateX(50px);
    cursor: pointer;
    transition: transform 1s;
}

.rotate:hover{
    transform: rotateZ(25deg);
    cursor: pointer;
    transition: transform 1s;
}

.scale:hover{
    transform: scaleX(1.0);
}

.skew:hover{
    transform: skewX(25deg);
} */

/* @keyframes animateDiv{
    0%{width: 100px}
    25%{width: 150px}
    50%{width: 200px}
    75%{width: 150px}
    100%{width: 100px}
}

.animate{
    animation-name: animateDiv;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-delay: 1s;
}

@keyframes textAlpha{
    from{opacity: 0;}
    to{opacity: 1;}
}

h3{
    animation-name: textAlpha;
    animation-duration: 5sec;
}

button{
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 50px;
    border: none;
    background: linear-gradient(to top, deeppink, pink);
    border-radius: 3px;
}

button:hover{
    background: linear-gradient(to top, deeppink, pink);
    cursor: pointer;
    transition: all 1s;
} */

@keyframes headerAnimation{
    0%{background-image: url(../img/header/a1.jpg)}
    20%{background-image: url(../img/header/a2.jpg)}
    40%{background-image: url(../img/header/a3.jpg)}
    60%{background-image: url(../img/header/a4.jpg)}
    80%{background-image: url(../img/header/a5.jpg)}
    100%{background-image: url(../img/header/a6.jpg)}
}

.headerAnimado{
    height: 70vh;
    background-size: cover;
    animation-name: headerAnimation;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}


